<h1>Sign Up</h1>

<% if flash[:errors_array] %>
  <% flash[:errors_array].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @user do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username, placeholder: "Enter Username"%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password, placeholder: "Enter Password"%><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  <%= f.submit %>
<%end%>