

<hr>
    <div>
        <%if @user.avatar.attached? %>
            <img src="<%= (url_for(@user.avatar))%>" alt="" class="displayed">
        <%end%>
    </div>
    <div class="profile-header-info"> 
        <p>Name: <%= @user.name %></p>
        <p>Username: <%= @user.username %></p>
    </div>
<hr>

<div class="buttons">
    <div class="flex-parent jc-center">
        <div>
            <button class="btn btn-info margin-right btn-lg " type="button"><h3 size: large;><%= link_to "Delete User", user_path(@user), method: :delete %></button></h3>
        </div>
        <div>
            <button class="btn btn-info margin-right btn-lg " type="button"><h3 size: large;><%= link_to  "Edit Profile", edit_user_path(@user), method: :get %></button></h3>
        </div>
        <div>
            <button class="btn btn-info btn-lg" type="button"><h3 size: large;><%= link_to "Add Contact", new_contact_path, method: :get %></button></h3>
        </div>
    </div>
</div>


