<h1>Edit Event</h1>

<% if flash[:errors_array] %>
  <% flash[:errors_array].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @event do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time %>
    <br>
    <%= f.label :event_name, "Name Of Event" %>
    <%= f.text_field :event_name %>
    <br>
    <%= f.label :note %>
    <%= f.file_field :note%>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <%= f.submit %>
<% end %>