<h1>All Of Your Events</h1>
<br>

<%= button_to "Create New Event", new_event_path, method: :get %>

<%@events.each do |event|%>
    <p><%= link_to event.event_name, event_path(event) %><p>
    <p>Category: <%= event.category %></p>
    <p>Date: <%= event.date %></p>
    <p>Time: <%= event.time %></p>
    <br>
<%end%>



