
                  <center class="text-center"><h1> All Of Your Events</h1></center> 
          
                  
   
   <div class="border border-light p-3 mb-4">
        
          <div class="text-center">
            <button class="btn btn-info margin-right btn-lg " type="button"><%= link_to "Create New Event", new_event_path, method: :get %></button></h3>
          </div>
        
        </div>
         
               
 


<section id="contact" class="py-3">
  <div class="container-center">
    <div class="row justify-content-center">
       
        <div class="col-4">
          <div class="card p-4">
            <div class="card-body">
                <%@events.reverse_each do |event|%>
                  <img src="https://www.pngkey.com/png/detail/24-243693_calendar-clock-icon-date-and-time-png.png" alt="" class="img-fluid card-img-top"> 
                  <hr>
                  <hr>
                  <h4 class="card-title"><%= link_to event.event_name, event_path(event) %></h4>
                  <small class="text-muted">Category: <%= event.category %></small>
                  <hr>
                  <small class="text-muted">Date: <%= event.date %></small>
                  <hr>
                  <small class="text-muted">Time: <%= event.time %></small>
                  <hr>
                  <p class="card-text">Message: <%= event.message %></p>
                  <hr>
                  <hr>
                <%end%>  
            
      
        </div>
      </div>

        
    </div>
  </div>
</section>



