<h1>New Event</h1>

<% if flash[:errors_array] %>
  <% flash[:errors_array].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @event do |f| %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <br>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time %>
    <br>
    <%= f.label :event_name, "Name Of Event" %>
    <%= f.text_field :event_name %>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <% if @current_user.contacts.empty?%>
      <%= f.label :contact_id, "Pick a Contact" %>
      <%= f.text_area :contact_id, placeholder: "You Do Not Have Any Contacts. Please Create Contact Below First" %>
    <% else%>
     <%= f.label :contact_id, "Pick a Contact" %>
     <%= f.collection_select :contact_id, @current_user.contacts, :id, :name %>
    <% end%>
    <br>
    <%= f.label :message %>
    <%= f.text_area :message, placeholder: "Write Message to Send"%>
    <br>
    <%= f.label :note %>
    <%= f.text_area :note %>
    <br>
    <%= f.submit %>
<% end %>

<br>
<h1 size: large;><%= button_to "Create a Contact", new_contact_path, method: :get %></h1>


