<h1>New Event</h1>

<% if flash[:errors_array] %>
  <% flash[:errors_array].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @event do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :time %>
    <%= f.time_field :time %>
    <br>
    <%= f.label :event_name, "Name Of Event" %>
    <%= f.text_field :event_name %>
    <br>
    <%= f.label :note %>
    <%= f.file_field :note%>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <%= f.submit %>
<% end %>

<h1>Create a Message for Event</h1>

 <%= form_for @message do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <%= f.submit %>
<% end %>


