<h1>New Moment</h1>

<%= form_for @event do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :time %>
    <%= f.time_field :time %>
    <%= f.label :event_name, "Name Of Moment" %>
    <%= f.text_field :event_name %>
    <%= f.label :note %>
    <%= f.file_field :note%>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
    <%= f.label :contact_id %>
    <%= f.number_field :contact_id %>
    <%= f.submit %>
<% end %>

