



 <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="well-block">
                        <div class="well-title">
                            <h2>Create a New Event</h2>
                        </div>
                        <form>
                            <!-- Form start -->
                            <div class="row">
                                <div class="col-md-6">
                                <% if flash[:errors_array] %>
                                <% flash[:errors_array].each do |error| %>
                                  <p style="color: red;"><%= error %></p>
                                <% end %>
                              <% end %>
                              <div class="form-group">
                              <%= form_for @event do |f| %>
                                  <%= f.hidden_field :user_id, :value => @current_user.id %>
                                
                                        <label class="control-label" for="name">Date</label>
                                         <%= f.date_field :date, placeholder: "Select Date", :class => "form-control input-md", :id => "date" %>
                                  
                                    </div>
                                </div>
                                <!-- Text input-->
                             
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Time</label>
                                         <%= f.time_field :time, placeholder: "Select Time", :class => "form-control input-md", :id => "time" %>
                                       
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="date">Name of Event</label>
                                           <%= f.text_field :event_name, placeholder: "Enter Name of Event", :class => "form-control input-md", :id => "name" %>
                                      
                                    </div>
                                </div>

                                <!-- Select Basic -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Category</label>
                                        <%= f.text_field :category, placeholder: "Enter Category Type", :class => "form-control input-md", :id => "category" %>
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                
                                <!-- Button -->
                                <% if @current_user.contacts.empty?%>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                    
                                        <%= f.text_area :contact_id, placeholder: "You Do Not Have Any Contacts. Please Create Contact Below First", :class => "form-control input-md", :id => "contact" %>
                                    </div>
                                  </div>
                                 
                                <% else%>
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label class="control-label" for="time">Contact</label>
                                        <%= f.collection_select :contact_id, @current_user.contacts, :id, :name, :class => "form-control input-md", :id => "contact" %>
                                    </div>
                                </div>
                                <% end%>


                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Message To Loved One</label>
                                                <%= f.text_area :message, placeholder: "Write Message to Send", :class => "form-control input-md", :id => "contact"%>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Leave a Note</label>
                                            <%= f.text_area :note, placeholder: "Leave a Note", :class => "form-control input-md", :id => "category" %>
                                    </div>
                                </div>


                                 <div class="col-md-12">
                                    <div class="form-group">
                                           <%= f.submit%>
                                    </div>
                                </div>


                            </div>
                        </form>
</div>
</div>
</div>
</div>
</div>

                    
<h1 size: large;><%= button_to "Create a Contact", new_contact_path, method: :get %></h1>          
                           



