<h1>Event Name: <%=@event.event_name%></h1>

<br>
<p>Time: <%=@event.time%></p>
<p>Date: <%=@event.date%></p>
<p>Category: <%=@event.category%></p>
<p>Message: <%= @event.message %></p>
<p>Note: <%=@event.note%></p>

<br>    

<h1>Events Feed</h1>

<%@events.each do |event|%>
    <p><%= link_to event.event_name, event_path(event) %><p>
    <p>Category: <%= event.category %></p>
    <p>Date: <%= event.date %></p>
    <p>Time: <%= event.time %></p>
    <br>
<%end%>

<%= button_to "Edit This Event", edit_event_path(@event), method: :get %>

<%= button_to "Create New Event", new_event_path, method: :get %>
    
<%= button_to "Delete Event", event_path(@event), method: :delete %>
