<div class="form"> 

<hr>
  <h1>Edit Contact</h1>

  <% if flash[:errors_array] %>
    <% flash[:errors_array].each do |error| %>
      <p style="color: red;"><%= error %></p>
    <% end %>
  <% end %>

  <%= form_for @contact do |f| %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <br>
      <%= f.text_field :name, placeholder: "Name" %>
      <br>
      <br>
      <%= f.date_field :birthday, placeholder: "Birthday" %>
      <br>
      <br>
      <%= f.text_field :contact_info, placeholder: "Contact Info" %>
      <br>
      <br>
      <%= f.file_field :avatar %>
      <br>
      <br>
      <%= f.submit %>
  <% end %>

  <hr>

</div>


