<h1>Contacts</h1>

<%@contacts.each do |contact|%>
    <p><%= link_to contact.name, contact_path(contact) %><p>
    <p><%= contact.birthday %></p>
    <%= contact.image %>
    <%# add images to seed data%>
    <br>
<%end%>
<br>
<br>
<%= link_to "Add Moment", new_event_path %>
<br>
<%= link_to "Add a Contact", new_contact_path %>
<br>
<br>

<h3><%= link_to "Feed", events_path %></h3>

<% @events.each do |event|%>

    <p><%= link_to event.event_name, event_path(event) %><p>
    <p>Date: <%= event.date %></p>
    <p>Time: <%= event.time %></p>
    <p>Category: <%= event.category %></p>
    <br>
<%end%>


<h3><%= link_to "Messages", messages_path %></h3>

<% @messages.each do |message|%>
    <p>Name: <%=message.event.contact.name %></p>
    <p>Title: <%=message.title %><p>
    <p>Body: <%= message.body %></p>
    <br>
<%end%>

