

<header>
    <div class= 'container'>
        <%= image_tag "forget-me-not-logo.jpg", class: "logo" %>
        <nav> 
            <ul>
                <li> <%= link_to "Events", events_path %></li>
                <li> <%= link_to "Events", events_path %></li>
                <li> <%= link_to "Events", events_path %></li>
                <li> <%= link_to "Events", events_path %></li>
            </ul> 
        </nav>
    </div>
</header>

<!--add searchbar to nav-->