

<header>
    <div class= 'container'>
    <%= link_to home_path do %>
        <%= image_tag "forget-me-not-logo.jpg", class: "logo" %>
    <% end %>
        
        <nav> 
            <ul>
                 <% if @current_user %>
                    <li> <%= link_to "Home", home_path %></li>
                    <li> <%= link_to "Profile", user_path(@current_user) %></li>
                    <li> <%= link_to "Contacts", contacts_path %></li>
                    <li> <%= link_to "Events", events_path %></li>
                    <li><%= link_to "Logout", logout_path %></li>
                <% end %>
            </ul> 
        </nav>
    </div>
</header>

