

<header>
    <div class= 'container'>
    <%= link_to home_path do %>
        <%= image_tag "forget-me-not-logo.jpg", class: "logo" %>
    <% end %>
        
        <nav> 
            <ul>
                <li> <%= link_to "Home", home_path %></li>
                <li> <%= link_to "Profile", users_path %></li>
                <li> <%= link_to "Contacts", contacts_path %></li>
                <li> <%= link_to "Events", events_path %></li>

                <!--Need to change above paths once have login and cookies-->
            </ul> 
        </nav>
    </div>
</header>

<!--add searchbar to nav-->