<header>
    <div class= 'container'>


<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">Forget Me Not</a>
               <% link_to home_path do %>
                    <% image_tag "FMN.png", class: "logo" %>
                <% end %>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <% if @current_user %>
                    <li class="nav-item">
                        <%= link_to "Home", home_path%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Profile", user_path(@current_user) %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Contacts", contacts_path %>
                    </li>
                    <li class="nav-item">
                       <%= link_to "Events", events_path %>
                    </li>
                    <li class="nav-item">
                       <%= link_to "Logout", logout_path %>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</header>